
.sideCart {
    position: fixed;
    top: 50;
    right: -400px;
    width: 400px;
    height: 100%;
    background: var(--secondary-color);
    padding: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
  }
  
  .open {
    right: 0; 
  }
  
  .closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
  
  h2 {
    margin-bottom: 16px;
  }
  
  .emptyCart {
    font-style: italic;
    text-align: center;
  }
  
  .cartItems {
    margin-bottom: 16px;
  }
  
  .cartItem {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    flex-direction: column;
  }
  
  .cartItemImage {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 16px;
  }
  
  .cartItemDetails {
    flex: 1;
  }
  
  .removeBtn {
    padding: 4px 8px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .cartTotal {
    font-weight: bold;
    text-align: right;
  }
  
  .checkoutBtn {
    display: block;
    width: 100%;
    padding: 8px;
    background-color: #009688;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .quantitySelector {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }
  
  .quantityBtn {
    background: none;
    border: 1px solid #ddd;
    color: white; 
    font-size: 16px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0px;
    transition: background-color 0.2s ease-in-out;
  
    &:hover {
      background-color: #f0f0f0;
    }
  
    &:disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }
  
  .quantity {
    margin: 0 8px;
    font-size: 16px;
  }